# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Day-01/counter-with-class/node_modules
/Day-01/counter-with-function/node_modules
/Day-02/random-num-with-class/node_modules
/Day-02/random-num-with-function/node_modules
/Day-03/random-hex-color-with-class/node_modules
/Day-03/random-hex-color-with-function/node_modules
/Day-04/modal-text-with-class/node_modules
/Day-04/modal-text-with-function/node_modules
/Day-05/palindrome-with-class/node_modules
/Day-05/palindrome-with-function/node_modules


/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
